<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chat.mapper.ChatMsgMapper">
  <insert id="InsertChatMsg" parameterType="com.chat.bean.ChatMsg">
    insert into chat_msg (senduserid, reciveuserid,  msgtype, sendtext)
    values (#{senduserid}, #{reciveuserid}, #{msgtype}, #{sendtext})
  </insert>
  <select id="LookTwoUserMsg" resultType="com.chat.bean.ChatMsg">
    select * from chat_msg where
    senduserid=#{chatMsg.senduserid} and reciveuserid=#{chatMsg.reciveuserid} or
    senduserid=#{chatMsg.reciveuserid} and reciveuserid=#{chatMsg.senduserid}
  </select>
</mapper>